[2016-12-15 06:06] rangedev opened #1 "fluentd config error: Unknown filter plugin 'sumo_fields'"
FYI wrong plugin name. Should be "kubernetes_sumologic".
[code]

[2016-12-15 06:10] stevezau commented on #1
@rangedev oops, must of missed that.

I'll fix shortly.

[2016-12-19 22:49] nelsonenzo commented on #1
@stevezau Any update here?  Would like to get this working today if possible.

[2016-12-20 11:57] stevezau commented on #1
@nelsonenzo I originally wrote a plugin to set the Sumo metadata fields for docker and kubernetes log files.

I intended to remove that plugin as there are generic plugins that can do the same thing. I was looking at the record transformer plugin. I've raised an issue trying to understand if it's possible to achieve what I need. https://github.com/sonots/fluent-plugin-record-reformer/issues/45

If

[2016-12-21 10:47] #1 closed

[2016-12-21 10:49] stevezau commented on #1
should be fixed now, i tested it in my env and it appears to work.

Open another issue if you encounter any problems.

[2017-01-24 16:09] mfornasa opened #2 "__sourceCategory and _sourceName are not populated"
I installed the plugin according to the README.
`__sourceCategory` and `_sourceName` are not populated in Sumologic (they are defaults). According to the README they should be populated (e.g., `"%{namespace}.%{pod}.%{container}"`).

Any suggestion on how to debug this?

[2017-01-25 02:47] stevezau commented on #2
Ah, yes that was a bug. Please try the latest version. I just pushed to dockerhub.

[2017-01-25 02:47] #2 closed

[2017-01-25 08:46] mfornasa commented on #2
Works now. Thanks.

[2017-01-25 08:49] mfornasa opened #3 "LOG_FORMAT is ignored?"
Maybe I'm doing this wrong...
I tried to apply `LOG_FORMAT=text` in the daemonset sample definintion but the logs are still sent in JSON.

[code]

[2017-01-25 16:13] stevezau commented on #3
That should work. I'll test it myself and get back to you.

[2017-01-26 12:20] mfornasa commented on #3
More info. I tried to put the value "invalid" in the `LOG_FORMAT` var, and the container refuses to start:

[code]

When reverting back to `text`, I get the JSON log back in Sumologic. I am using the hosted service.

[2017-01-26 13:42] mfornasa commented on #3
In the output plugin, [here](https://github.com/SumoLogic/fluentd-output-sumologic/blob/master/lib/fluent/plugin/out_sumologic.rb#L117) the `log_format` contained in `sumo_metadata` owerwrites the `log_format` provided to the output plugin directly, which comes from [here](https://github.com/SumoLogic/fluentd-kubernetes-sumologic/blob/master/plugins/filter_kubernetes_sumologic_containers.rb#L13).

[2017-01-26 21:14] stevezau commented on #3
ah, i see the issue.

I believe by adding the below to source.containers.conf it should set the _sumo_metadata field correctly for the output plugin.

[code]

Can you please let me know if you still have issues?

[2017-01-26 21:14] #3 closed

[2017-01-28 03:15] jaygorrell opened #4 "Filter kubernetes_sumologic not found"
I believe either the plugin registration name needs changed to `kubernetes_sumologic_containers` or the file needs changed to `filter_kubernetes_sumologic.rb`. I'm curious why others didn't experience this though so perhaps it's something environmental.

[2017-01-28 03:16] jaygorrell opened #5 "The `merge_json_log` is not compatible with sumo output"
The sumo output expects `json_merge` but these parameters are sharing an environment variable.

[2017-01-28 04:05] stevezau commented on #4
Hey @jaygorrell

That's weird, where are seeing this?

[2017-01-28 04:06] stevezau commented on #5
Gm I'll take a look and get back to you

[2017-01-28 04:09] jaygorrell commented on #4
I'm just updating things from the old repo and kept getting a startup error/crash from Fluentd stating that the `kubernetes_sumologic` filter doesn't exist.

Plugin registration in filter_kubernetes_sumologic_containers.rb:
`Fluent::Plugin.register_filter('kubernetes_sumologic', self)`

I was able to fix this by renaming the file to `filter_kubernetes_sumologic`... is this not a standard Fluent re

[2017-01-28 17:48] stevezau commented on #4
I've renamed it to filter_kubernetes_sumologic but the plugin name is kubernetes_sumologic which is standard reading http://docs.fluentd.org/v0.12/articles/plugin-development

[2017-01-28 17:48] #4 closed

[2017-01-28 18:06] stevezau commented on #5
It should still work if you set the env var to `json_merge`. The kubernetes sumo plugin just passes the value to the output plugin, it does nothing with it.

I've updated the README

[2017-01-28 18:06] #5 closed

[2017-01-30 11:09] mfornasa commented on #3
Works now.

[2017-02-04 17:19] ryanwalls opened #6 "Log locations don't match in Kubernetes setup with Rancher"
I used Rancher to setup my Kubernetes cluster.  Not sure how the rancher config changed the default k8s configuration, but the logs are not where this plugin expects them to be.

e.g.
The fluentd source is configured to tail containers like this:
[code]

But there is no `containers` folder in `/mnt/log`.

Here is a list of all the `containers` folders on my host:
[code]

And the only one of those

[2017-02-04 21:23] ryanwalls commented on #6
Figured out the problem.  See here: https://github.com/rancher/rancher/issues/7688

Basically, since rancher runs the kubelet in a container, the `/var/log/containers` directory is created inside the container.  Therefore without mounting a volume, it is not available to the `fluentd-kubernetes-sumologic` container.

[2017-02-05 05:53] stevezau commented on #6
There is not much we can do if the logs are not available. Closing this for now.

[2017-02-05 05:53] #6 closed

[2017-02-07 14:14] ryanwalls opened #8 "Getting failed connections to sumologic endpoint"
Here's my sumologic output config:

[code]

And here's the error I'm getting:
[code]

[2017-02-07 14:49] ryanwalls opened #9 "Feature request: Create branch or repo using fluentd driver instead of tailing logs"
Would love to see an example where containers on a k8s cluster are set to use the fluentd logging driver.

[2017-02-07 18:26] ryanwalls opened #10 "Docker path mismatch between fluentd.daemonset.yaml and source.docker.conf"
In `fluentd.daemonset.yaml` the mount path is specified as `/var/lib/docker`:
[code]

But in `source.docker.conf`, it is reading from ` /mnt/log/`.
[code]

[2017-02-07 20:11] ryanwalls commented on #8
This is due to problems that Alpine has with specific DNS settings.  See https://github.com/gliderlabs/docker-alpine/blob/master/docs/caveats.md#dns.  And try googling alpine DNS issues... not sure what the solution is.  But not your problem.  Closing.

[2017-02-07 20:14] ryanwalls commented on #8
A potential workaround: https://github.com/janeczku/docker-alpine-kubernetes

[2017-02-07 20:39] ryanwalls opened #11 "Unreadable log files error"
Hopefully last road block.  For some reason the mounted container logs are not readable by the fluentd container.

[code]

I've tried running as privileged, but not luck.  Perhaps you've hit this before and know a solution?

[2017-02-07 22:44] ryanwalls commented on #11
I didn't have the location the symlinks were pointing to mounted as well.  I had `/var/log/containers` but didn't mount `/var/lib/docker`.

[2017-02-07 22:44] #11 closed

[2017-02-07 23:01] stevezau commented on #9
I'm not sure this will work as we require the container ID to query kubernetes metadata from the master. Does that exist in the fluentd logging driver?

[2017-02-07 23:12] ryanwalls commented on #9
@stevezau Yep, see https://docs.docker.com/engine/admin/logging/log_tags.  Maybe could also use the k8s downward api, https://kubernetes.io/docs/user-guide/downward-api instead of querying the k8s api.

[2017-02-07 23:20] stevezau commented on #10
hmm in my kubernetes deployment /var/lib/docker/docker.log does not even exist.

can you see a docker.log on yours?

[2017-02-07 23:21] stevezau commented on #9
It could work, just need to be able to work with https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter

we are open to a PR if you want to give it a go?

[2017-02-07 23:26] ryanwalls commented on #9
@stevezau In the middle of a big push at work, but will keep it on my "to do" list for later this month.

[2017-02-07 23:30] ryanwalls commented on #10
@stevezau Mine is weird due to rancher.  Mine is in `/var/log/upstart/docker.log`.

I'm just pointing out that the paths between the mount path specified in `fluentd.daemonset.yaml` and the source path in `source.docker.conf` should match.

[2017-02-08 00:45] stevezau commented on #10
It does not even exist on mine.. not sure what to do here in terms of having a standard path.

for now i'll fix the incorrect path mapping

[2017-02-08 01:12] ryanwalls commented on #8
Reopening... as I haven't figured out a way around this.  Tried the base image I linked to with no success.  I would think this would happen with most k8s setups?

[2017-02-08 01:15] stevezau commented on #8
This is a dns issue, it cannot resolve endpoint1.collection.us2.sumologic.com which is a FQDN.. I don't think it has anything to do with this repo.

[2017-02-08 01:20] ryanwalls commented on #8
@stevezau True, except that we need to provide the sumologic URL for this repo to work properly.  Should I just provide an IP?

The problem is because this image is based on the fluentd container, which is based on Alpine, which doesn't work with k8s networking...

How did you work around it in your k8s setup?

[2017-02-08 01:24] stevezau commented on #8
@ryanwalls We have it running on a cluster with 5 nodes running 400 containers.. other customers are using it as well.

You cant use a IP as it's an AWS ELB so the IP will change.

It's just standard dns so i can't see why it wouldn't work?

[2017-02-08 01:42] ryanwalls commented on #8
OK. Will close for now. Genuinely, thanks for your help.  Here is a good link to other people with the same issue. Not sure what we have in common yet. https://github.com/gliderlabs/docker-alpine/issues/8

[2017-02-08 01:42] #8 closed

[2017-02-08 21:22] ryanwalls commented on #8
@stevezau FYI, used the debian image for fluentd that is in progress here https://github.com/fluent/fluentd-docker-image/pull/71 and was able to get this working without a hitch.  Thanks for a great tool!

Food for thought... may want to use the debian based fluentd image when it gets merged.

[2017-02-09 02:53] emptywee opened #12 "Any way to disable logging for some particular pod through annotations?"
Is it possible to disable shipping logs for particular pods by setting some param in annotation? My bet it's not yet possible, but any plans to add this feature? Since SumoLogic is typically paid by volume, would be nice to control what deployments/pods must ship their logs to the SumoLogic cloud.

Thank you.

[2017-02-09 02:55] stevezau commented on #12
Right now you can do this by editing https://github.com/SumoLogic/fluentd-kubernetes-sumologic/blob/master/conf.d/source.containers.conf#L9 and adding an exclude rule http://docs.fluentd.org/v0.12/articles/in_tail#excludepath

We could do it via annotations but that means fluentd still has to process and throw out the data. The exclude rule means it will never get to fluentd.

Happy for you to ope

[2017-02-09 03:00] emptywee commented on #12
Thank you for the hint. Still, for end-users (especially new like me) annotations seem to be a more straight-forward way. I don't mind if fluentd has to process but throw away the data :-)

I am yet too new to file PRs to this. Thought that if it wasn't too hard, I'd request this feature. Might be helpful for others too.

[2017-02-09 03:07] stevezau commented on #12
@frankreno you want to take a look at this?

[2017-02-11 00:53] kevin-sumo opened #13 "Seems to be sending junk data and no other messages."
I installed the fluentd logger unfortunately it only seems to be sending junk data. Sample message below.

{"timestamp":1486707244000,"error_class":"KeyError","error":"key not found: \"kubernetes\"","tag":"kube-apiserver","time":1486707243,"record":{"severity":"I","pid":"5","source":"panics.go:76","message":"GET /api/v1/namespaces/kube-system/endpoints/kube-controller-manager: (992.752µs) 200 [[ku

[2017-02-11 01:01] stevezau commented on #13
Can you paste the log from the fluentd container on STDOUT/STDERR ?

Also, have you pulled the latest version?

Please provide more details on your configuration

[2017-02-11 02:14] kevin-sumo commented on #13
Thanks Steve for taking a look. Here is the config.

[code]

[2017-02-14 20:50] ryanwalls commented on #8
@stevezau Debian images for fluentd have been merged.

[2017-02-15 12:59] mfornasa opened #14 "When a container is restarted, first ~50 seconds of logs are lost"
We noticed that first ~50 seconds of logs after a container startup are not captured.

For example:
* I started a container at `12:50:00`
* After 50 seconds, Sumologic pods logs the following:
[code]
* Logs between `12:50:00` and `12:50:42` are lost.

This is a showstopper for us. Not only we are loosing logs, but we are loosing the most important log entries (application startup). Crashing applic

[2017-02-15 20:35] fikander commented on #13
I'm having the same issue - 1000s of logs as above. I've disabled kube-apiserver log to prevent running out of space in sumo.
It's been deployed yesterday to kubernetes 1.5.2 based cluster, off the master of this repo.

Here's the manifest I used:
[code]

[2017-02-16 04:36] stevezau commented on #13
Should be fixed in latest release thanks to @fikander

[2017-02-16 04:38] #13 closed

[2017-02-16 20:56] stevezau commented on #14
Hi @mfornasa this repo used fluentd tail plugin. I suspect maybe the files are disappearing before the tail plugin can pick it up.

I wonder if there are some docker/kube settings we can tune to keep it around for longer or perhaps the better solution is to look at using the native fluentd driver as suggested in #9

[2017-02-17 23:33] #14 closed

[2017-02-17 23:34] frankreno commented on #14
@mfornasa  bc96bcc should fix this issue.  I need to work on getting this pushed to Dockerhub though.  Will update once available.

[2017-02-18 17:53] frankreno commented on #12
@stevezau : rather than using an annotation on the various pods you deploy to exclude, does it make more sense to have an env var with some regex to exclude a pod, container, namespace or host on the fluentd.daemonset.yaml.  Perhaps both is a good solution.

[2017-02-19 16:35] frankreno commented on #12
@stevezau : mind reviewing https://github.com/SumoLogic/fluentd-kubernetes-sumologic/pull/16 before I merge?

[2017-02-21 02:34] frankreno commented on #12
@emptywee : image has been pushed to docker hub with the changes.

[2017-02-21 02:34] #12 closed

[2017-02-21 02:35] frankreno commented on #14
@mfornasa: new image with the fix is now available in docker hub

[2017-02-21 04:51] emptywee commented on #12
Thanks! I really appreciate it. Now we can save some traffic (and money)!

[2017-02-23 10:51] mfornasa commented on #14
@frankreno seems good. Thanks!

[2017-03-01 11:11] ryanwalls commented on #10
@stevezau I think you can close this.  The `fluentd.daemonset.yaml` being an example, the end users can change to their host path.  Maybe just add a line to the readme?  Or a line comment in the `fluentd.daemonset.yaml` file?

[2017-03-09 14:19] mfornasa opened #17 "kube-apiserver is too spammy and I can not exclude it"
On one of my clusters, `kube-apiserver` generates a lot of messages (more than 400 MB/day).

Unfortunately, it seems that I can not use `EXCLUDE_*` to filter Kubernetes components collected [here](https://github.com/SumoLogic/fluentd-kubernetes-sumologic/blob/master/conf.d/source.kubernetes.conf).

Maybe we can filter `severity I` messages as suggested to me by @fikander, but a mechanism similar t

[2017-03-09 23:29] frankreno commented on #17
@mfornasa :There are multiple ways to filter the data.  if you want to do it at the source.kubernetes.conf, you would need to use the fluentd tail plugin option, exclude_path, which I believe does not accespt regex.  You can also use some environment variables to specify a regex pattern to exclude by host, pod, namespace or container.  This is documented in the README in the options section.  Does

[2017-03-10 08:51] mfornasa commented on #17
@frankreno my understanding is that all the `EXCLUDE` options operate only on containers that are collected trough `source.containers.conf`.

The problem here is with a Kubernetes component called `kube-apiserver` which is explicitly collected trough `source.kubernetes.conf` (in [this](https://github.com/SumoLogic/fluentd-kubernetes-sumologic/blob/8d3fcd43d0ae458c9f321b2fee2d8d67e5b70aea/conf.d/so

[2017-03-10 18:00] frankreno commented on #17
@mfornasa : My apologies, I see now.  So we need to expose the environment variables in the  `source.kubernetes.conf` and that should then give you this capability.  I will look at this as soon as I can.

[2017-04-04 12:50] mfornasa commented on #17
Any news on this?

[2017-04-04 20:13] frankreno commented on #17
@mfornasa : I have not had any cycles to work on this and may not for a couple of weeks.  However, I am open to a PR.  We should be be able to use a similar flow to that was done for the source.containers.conf in most cases.  Some may require some more work.

[2017-04-06 17:22] flah00 opened #19 "Support systemd OSs"
I'm running kubernetes on CoreOS, none of the paths in `sources.kubernetes` or `sources.docker` exist on my system. I've been told that there's a [systemd plugin](https://github.com/reevoo/fluent-plugin-systemd) for fluent. How can this be folded into the current image? Should we create a new env var, should it try to be smart?

[2017-04-06 17:51] frankreno commented on #19
@flah00 : right now we only use the tail plugin.  Do the logs not exist on the file system at all? Perhaps they are in a different path, in which case, you would just need to update the configuration and mounts to the appropriate path.

[2017-04-06 17:58] flah00 commented on #19
@frankreno The logs exist, but systemd uses a binary log format, so the resulting files aren't readable by the tail.

[2017-04-06 18:50] #17 closed

[2017-04-06 19:10] flah00 commented on #19
The plugin, for systemd, depends on libsystemd. Alpine doesn't offer any support for systemd. It seems like the fluent folks have settled on building two images, one debian and one alpine, to work around this problem. How does this project feel about that route?

[2017-04-06 20:26] frankreno commented on #17
@mfornasa: The image with the fix for this is now in docker hub.  Thanks for your help @flah00!

[2017-04-10 09:58] mfornasa commented on #17
Tried:
[code]

Seems good. Thanks.

[2017-04-12 20:30] salilgupta1 commented on #11
I'm having this same issue:
[code]
I deployed the DaemonSet and Secret on my K8s cluster following the directions of the README file.

My cluster is running on K8s v1.6. I was able to get this to work on my K8s cluster that was running v1.5.

Has anyone seen this issue on v1.6?

[2017-04-13 16:22] salilgupta1 opened #20 "Unreadable Logs on K8s v1.6"
I'm seeing the same issue as #11

[code]
I deployed the DaemonSet and Secret on my K8s cluster following the directions of the README file and it worked on my v1.5 cluster, but when I deployed it to my v1.6 cluster I got the above issue.

Differences between my v1.5 and v1.6 cluster set up:
- v1.6 is using RBAC roles to restrict resources to within their namespace
- Consequently, the kube-system h

[2017-04-13 23:07] frankreno commented on #20
@salilgupta1 : are you using the default configuration for the daemonet or have you customized it at all?

[2017-04-14 15:22] salilgupta1 commented on #20
@frankreno we're using Kops to bring up the cluster. The DaemonSet is the standard configuration - only thing I added was ```namespace: kube-system``` to the metadata.

[2017-04-19 18:17] i02sopop commented on #20
I have also this issue in kubernetes 1.6.1. Is there any known fix?

[2017-04-20 16:12] salilgupta1 commented on #20
I haven't tried it out yet, but this seems relevant:
https://github.com/fabric8io/docker-fluentd-kubernetes/issues/14

[2017-04-20 23:41] i02sopop commented on #20
Everything indicates it's some bad links. In the directory `/mnt/log/containers` there's one link per pod, but it's linked against `/var/log/pods` directory instead of `/mnt/log/pods` directory.

[2017-04-21 02:00] i02sopop commented on #20
I solved it for my environment. What I've done is change the daemonSet of sumologic to mount the log volume on /var/log instead of on /mnt/log and create a docker image based on `sumologic/fluentd-kubernetes-sumologic:latest` with new versions of `source.kubernetes.conf` and `source.containers.conf` that replaces `/mnt/log` by `/var/log` in order to scrape correctly the logs.

[2017-04-21 02:08] frankreno commented on #20
@i02sopop : thank you for figuring this out.  It looks like the mount paths changed between k8s 1.5 and 1.6.  I will look at the best way to solve this and get the appropriate changes made as well as get proper versions in DockerHub.

[2017-05-01 19:01] frankreno commented on #20
I am thinking what we will do is create an environment variable for the mount path so that it can overridden.  Pre 1.6, the current path works fine (testing on 1.4 and 1.5).  However 1.6 has changed the paths so we need to update the mount path accordingly.  Plan is to get this done this week and get the new image pushed to Docker hub so you do not have to also maintain the image.

[2017-05-01 19:08] frankreno commented on #20
Actually, you can do this without modifying the config files OR creating your image.  You can correct this by updating only the `fluentd.daemonset.yaml` container volume mounts.  If you change

[2017-05-10 20:09] #20 closed

[2017-05-10 20:21] #10 closed

[2017-06-07 18:01] carsonoid opened #24 "Push versioned images to docker hub."
Right now it appears that there is only a "latest" tag: https://hub.docker.com/r/sumologic/fluentd-kubernetes-sumologic/tags/

It would be helpful to have a versioned tag pushed as well.

[2017-06-08 19:08] ferminromero commented on #24
I agree -- Always pulling the latest image is not ideal for us.

[2017-06-15 17:09] adrianchifor commented on #24
Yes please.

[2017-06-28 22:44] nhoughto commented on #19
This is a problem for all new GKE users as google is deprecating their debian based node image and moving to COS which uses systemd. What is the status of your poc @flah00 ?

[2017-06-29 02:19] flah00 commented on #19
I've got a working poc, which the sumo folks need to review.

[2017-06-29 02:22] nhoughto commented on #19
Yep seems to work, i've got it deployed and both systemd and file mode are going for me. Thanks for your work.

[2017-06-29 16:06] flah00 opened #26 "Support for the helm chart?"
Does anyone at sumologic have any interest in participating as a reviewer, for the new [sumologic-fluentd](https://github.com/kubernetes/charts/pull/913) chart? Having someone from sumo able to review changes would help keep the chart relevant.

[2017-07-07 19:36] frankreno commented on #26
@flah00 : we would be happy to do this.  it has been on our radar to get a helm chart created so thankl you for doing that! Feel free to add me as a reviewed to the PR.

[2017-07-12 18:54] #26 closed

[2017-07-17 21:54] frankreno commented on #24
We have started tagging, current working version was tagged as v1.0 and others will be tagged as needed.  This is now available in DockerHub

[2017-07-17 21:54] #24 closed

[2017-07-17 22:22] #19 closed

[2017-07-28 10:03] joaoubaldo opened #31 "undefined method `empty?' for nil:NilClass"
Hi.

I am using fluentd-kubernetes-sumologic on a few GKE clusters and recently tried the systemd setup.
Immediately after starting the new fluentd version with systemd, I ran into this issue/bug:

[code]
(above log line is trimmed)

Lines such as this repeat with high frequency (for each kubelet event).

By looking at the `plugins/filter_kubernetes_sumologic.rb` source code, the problem is that a

[2017-07-28 20:22] #31 closed

[2017-07-31 18:22] philipbjorge commented on #19
@nhoughto -- Do you have 2 daemonsets deployed to get both file logs *and* systemd logs?

[2017-07-31 20:43] agonzalez-tk opened #34 "kubernetes 1.6 log location"
seems like on newer version of kubernetes logs are located on /var/log/containers but they are only symbolic links to /var/log/pods, so this is causing error reading, maybe we should change the default mounting point to /var/log instead of /mnt/log

[2017-08-01 08:07] nhoughto commented on #19
Hmm nope just systemd since all my nodes are running a systems host OS (GKE COOS). Am I missing some logs by not doing both?

On 1 Aug 2017, 4:22 AM +1000, Philip Bjorge <notifications@github.com>, wrote:

[2017-08-01 16:33] philipbjorge commented on #19
@nhoughto -- Not sure. It seems like on our kops nodes, the kubelet logs are going to journald, so was wondering if you had to handle something similar.

[2017-08-02 21:57] frankreno commented on #34
Hi @agonzalez-tk : we are using k8s 1.6 and this has been tested against 1.6.  Can you provide your Daemonset config so I can inspect?

[2017-08-04 04:38] anhnk opened #35 "Feature request: Allow the container to use the credentials to talk to the Kubernetes API"
Howdy from down-under,

@lucaswilric and I are working on using this fluentd-kubernetes-sumologic container to forward our application logs to Sumologic. The problem we are having at the moment is the container is not authorised to talk to the Kubernetes API. Here is the log from one of the fluentd pods:
[code]

We would like to request a feature to allow the container to use an SSL client certifi

[2017-08-09 17:23] weaseal opened #36 "Multiline regex doesn't seem to work"
Hello,
I am attempting to use the new multi-line feature without much success.

I set this environment var:
        - name: MULTILINE_START_REGEXP
          value: \d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d+

So I would expect any lines following such a line, that do not start with a formatted date, to be included in the previous message.  But still, each "newline" seems to create a separate log entr

[2017-08-09 17:25] frankreno commented on #36
@weaseal : the multi line feature has not been merged yet so won't work with any of the images in DockerHub.  I assume you built a new image and are testing with that?

[2017-08-09 17:31] weaseal commented on #36
actually, it does seem to work, I just restarted the pods and it started working

[2017-08-10 16:33] #36 closed

[2017-08-10 16:34] frankreno commented on #34
closing - no response. Please re-open if still an issue.

[2017-08-10 16:34] #34 closed

[2017-08-17 14:46] adrianchifor opened #37 "Docker image size"
Can you guys confirm why the docker image size is almost 10x the size of v1.0? Seems to be mostly because the base fluentd image is now using debian?

We are looking at updating our collector from v1.0 to v1.4 but don't see any major fixes or benefits (a changelog would be nice)

[2017-08-18 16:00] frankreno commented on #37
@adrianchifor : yes the reason for the increased size is the change to the new base image.  This change was done to add support for systemd.  v1.0 did not allow for collecting from systemd, only in_tail.

[2017-08-18 16:00] frankreno commented on #37
I will add a changelog to the readme.

[2017-08-18 16:13] frankreno commented on #37
changelog has been added

[2017-08-18 16:13] #37 closed

[2017-08-18 16:13] frankreno commented on #35
@anhnk : thanks for the request. I am not sure when I will have time to work on this, but would gladly welcome a PR if you feel like taking this on.

[2017-08-23 04:07] winsorkwong opened #38 "Issue: Not able to collect logs on Kubernetes 1.7.1"
Seeing the following issue on K8S v1.7.1:
/mnt/log/containers/dle-authz-service-1349956859-rx1n5_pqa-authz_dle-authz-service-69d26cee5131254a5c7f4eaceba5c82631568b450dd9a835dfda72672d8e7d60.log unreadable. It is excluded and would be examined next time.

[2017-08-30 15:33] AlexB138 opened #39 "User "system:serviceaccount:default:default" cannot list pods at the cluster scope."
The current DaemonSet spec doesn't work with RBAC enabled, which is default for k8s 1.6+. A ServiceAccount definition is needed to correct this.

To replicate:
1. Setup kubernetes cluster with RBAC enabled.
2. Apply current DaemonSet definition.
3. Observe logs for fluentd pod. They will include the following error:

`spawn command to main:  cmdline=["/usr/bin/ruby2.3", "-Eascii-8bit:ascii-8bit",

[2017-08-30 15:35] AlexB138 commented on #39
Preparing a PR to resolve this.

[2017-09-06 14:55] #38 closed

[2017-09-16 01:55] AlexB138 opened #42 "Fluentd only runs on worker nodes"
Per the README, the intention of the pod is to "run an instance of this container on each physical underlying host in the cluster". As of Kubernetes 1.6, the pods will only run on the worker nodes, due to the built in taint on masters.

I see two ways to solve this. Which is best depends on the maintainers intentions:

1. Add a toleration for the built in master taint, _node-role.kubernetes.io/mas

[2017-09-16 01:56] AlexB138 commented on #42
Reference the following post and doc for information about taints:

https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
http://blog.kubernetes.io/2017/03/advanced-scheduling-in-kubernetes.html

[2017-09-18 13:57] AlexB138 commented on #42
Alternatively, a section could just be added to the README explaining how to add the toleration to schedule onto masters/other tainted nodes.

[2017-09-18 16:12] #39 closed

[2017-09-18 16:17] frankreno commented on #42
@AlexB138 : considering that the plugin (prior to 1.6) ran on the Nodes and Master without extra config, I am inclined to modify the settings to preserve that behavior.  I prefer option 1 as it is less aggressive.  I still think we need to update the docs for handling scenario 2 on other tainted nodes but by default we should collect from the master as that is where some of the k8s system pods run

[2017-09-18 18:57] AlexB138 commented on #42
@frankreno Yep, I agree on both counts.

I'll put together a PR asap.

[2017-09-20 16:57] AlexB138 commented on #42
PR is up. Sorry for the delay!

[2017-09-22 21:40] frankreno commented on #42
fixed by #43 thanks again!

[2017-09-22 21:40] #42 closed

[2017-09-25 23:40] andrews32 opened #44 "Multiple Files Tailed and Processed in Parallel?"
Can fluentd tail multiple large (and small) files in parallel? Reading this link seems like its only designed for 1 file at a time: https://github.com/fluent/fluentd/issues/573. This seems to support the behavior of the fluentd logs.

We're trying to use with with Red Hat's OpenShift and the number of logs, along with the size, changes at any given time.

[2017-10-06 15:50] jdoconnor opened #45 "After 429 rate limiting, logs appear to stop being delivered to sumo via http"
This is tough to get a good read on, but it looks like after being 429 throttled, our sumo is only receiving about 1/20th of our logs that are being ingested by fluent until the sumologic pod is restarted.

[2017-10-06 17:49] jdoconnor commented on #45
more notes... seeing this on the logs of those that are failing
[code]

[2017-10-06 17:58] frankreno commented on #45
Hi Jay:

Have you tried upping the number of threads and flush interval?  These options can be set via the Environment Variables.

Regarding the Buffer Overflow exception, we run the with default in_tail fluentD buffer settings.  Based on the docs, fluentD stops reading until the exception is resolved.

https://docs.fluentd.org/v0.12/articles/in_tail#what-happens-when-intail-receives-bufferqueueli

[2017-10-06 17:59] frankreno commented on #44
relates to #45.

[2017-10-06 18:38] andrews32 commented on #44
I just experienced this in recent weeks. I don't think #44 relates to #45. #45 seems to be about SumoLogic throttling the customers account and only allowing a percentage of the traffic to enter as long as it keeps the account quota under the cap. This is is more an Accounting/Finance issue than a application issue.

#44 one is about fluentd using the in_tail plugin to tail multiple logs in parall

[2017-10-11 16:18] frankreno commented on #45
Hi Jay:

Were you able to leverage the plugin settings to prevent the buffer overflow?

[2017-10-11 16:18] #44 closed

[2017-12-07 01:45] nhoughto opened #46 "Very high memory usage in some scenarios"
We are regularly seeing the sumo fluentd container take somewhere between 500m and 1100m when deployed in our cluster.

The sumo collector agent aims for a memory usage of 128m~ and we have never had any problems with it, obviously this container is different as it uses fluentd, ruby and an http collector.

Are we expecting such a significant increase in memory? We have only been testing with it f

[2017-12-11 18:19] emptywee commented on #46
Same here for us.

![image](https://user-images.githubusercontent.com/4997180/33846661-5e85dec6-de6d-11e7-87e8-84d5b1bc6c24.png)

Happening on the nodes where apiservers, schedulers and controllers are running (master nodes). Doesn't happen on the worker nodes here.

[2017-12-13 21:14] frankreno commented on #46
@nhoughto @emptywee : Can you provide me with the following to help me do some investigation?

1) What version of k8s?
2) Settings for Daemonset (Default or list what was customized)
3) Do you have the Audit log enabled in k8s?
4) Approximately how many containers per node?
5) Approximately how much log volume?

[2017-12-13 21:56] nhoughto commented on #46
1.  v1.7.2
2. Default, copy and paste from rbac exmple
3. No, i don't think so? How do i check? Standard KOPS build
4. 120 containers across 3 nodes (1 master) also happened when scaled out with 200 container across 5 nodes.
5. Log volume for the HTTP endpoint for the days in question is 1 to 3 million records.

The behaviour i'm seeing is a fast increase in a ruby processes memory usage, if i del

[2017-12-13 21:59] frankreno commented on #46
@nhoughto by default READ_FROM_HEAD is set to true.  So when you restart we read everything in again.  As a test, can you try altering the Daemonset and set READ_FROM_HEAD to false? Curious if the behavior changes.

kops does not enable audit by default, but you can.  Its quite noisy so was more curious than anything. https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#audit-loggin

[2017-12-13 22:07] nhoughto commented on #46
oh READ_FROM_HEAD would explain other behaviour i was seeing that when re-applying the DS it seemed to re-parse and upload all of the things rather than just the latest. I guess that is the safest setting, but totally not what we want, we would have had quite significant existing log files it would have been reading.

I'll try that. Although i'd assume by design you would want your process to alwa

[2018-01-05 22:12] mfornasa opened #47 "Restarting collection pods causes massive log delivery and duplicates"
We run this collector on a cluster generating ~5 millions log messages per day.
We recently encountered stability issues, so we are experimenting with the parameters (in particular the number of threads). However, each time we restart the pods to try a new param set:

* A lot of (duplicate) messages are sent. In our case, the collector tries to send ~1 million messages at once, causing high CPU us

[2018-01-05 22:22] mfornasa commented on #47
The cause is here: https://github.com/SumoLogic/fluentd-kubernetes-sumologic/blob/master/daemonset/rbac/fluentd.yaml#L54. You're using an `emptyDir` volume, which is scrapped when a pod is deleted.

[2018-01-05 22:53] frankreno commented on #47
@mfornasa correct right now we do not use a persistent volume.  That is something we can look into adding as configurable.  We would certainly welcome a PR for this kind of change. However, you could also look at leveraging the READ_FROM_HEAD environment variable to control to prevent reading from the head of the file during restarts.

[2018-01-31 17:10] darend opened #48 "kubelet logs not being captured"
## Issue

We are deploying fluentd-kubernetes-sumologic using the helm chart to a standard kops cluster. The documentation indicates that kubelet logs should be captured by default and can be filtered on using `_sourceName='Http Input'`

When filtering on `_sourceName='Http Input'` the only logs we see are of those of the `fluentd-kubernetes-sumologic` containers.

## Environment

- [sumologic-flu

[2018-02-02 23:09] frankreno commented on #48
@darend to better assist you, please let me know the following:

1) What version of k8s?

[2018-02-02 23:11] frankreno commented on #48
@darend just saw you had the k8s version, apologies.  Just the image tag and any changes to default would be helpful.

[2018-02-02 23:21] frankreno commented on #48
@darend I just did some research on this and it seems that the kubelet log is no longer available.

https://github.com/kubernetes/kubernetes/issues/26726

At one point it was, but I confirmed in my workers/masters that /var/log/kubelet.log no longer exists. I assume it will be the same for you if you SSH to one of your nodes. Can you confirm?

[2018-02-05 17:23] darend commented on #48
Confirmed. That is unfortunate, and with no updates in almost 2 years its unlikely to be restored.

Should we switch `FLUENTD_SOURCE` from `file` to `systemd` to enable capturing logs via journal?  Its not clear from the documentation what the trade off between them is

[2018-02-06 23:33] frankreno commented on #46
So I have just learned of a bug in the documentation.  The README indicates that the ~FLUSH_INTERVAL~ is set to ~5s~. This is not true.  It is actually set to 30 seconds by default in the Docerfile.  This means that we are not flushing the logs to sumo as fast and the messages are being stored in the buffer.  Those buffers could quickly grow (depending on how much data we are reading) and increase

[2018-02-06 23:39] frankreno commented on #48
@darend You can switch the plugin supports both so it should still capture all the same relevant information.  I am going to resolve this issue and a note to the README regarding the fact that kubelet logs are only available via systemD.

[2018-02-06 23:42] frankreno commented on #48
Updated readme to indicate findings.

[2018-02-06 23:42] #48 closed

[2018-02-06 23:59] frankreno commented on #45
@jdoconnor wanted to revisit this issue.  I have recently learned of a bug in the README.  The README used to indicate that the FLUSH_INTERVAL was 5 seconds.  This is not true, it is actually 30 seconds.

This means that we will not flush the buffer until 30 seconds. This can cause a large build up of logs, increasing memory usage and causing those errors where the Buffer is overflowing.  You migh

[2018-02-09 17:43] darend commented on #48
@frankreno switching the source to `systemd` works. However the documentation needs further update. The kubelet logs will be available as `_sourceName=k8s_kubelet` and docker as `_sourceName=docker`. The images in the [readme](https://github.com/SumoLogic/fluentd-kubernetes-sumologic#kubelet) show it under `_sourceName="HTTP Input"`

[2018-02-24 05:15] Chili-Man opened #49 "Issue with Helm Chart"
I have a pull request open for the helm chart:
https://github.com/kubernetes/charts/pull/3453

It is adding support for automatically creating the persistence directory. However, I can't get the tests there to pass because it seems to absolutely require a valid Sumologic endpoint URL. How can I get the tests to without requiring a valid Sumologic endpoint URL for the helm chart?

[2018-03-05 22:46] frankreno commented on #49
@Chili-Man thank you for the PR first and foremost.  I am not seeing a clear reason why the tests are now failing but earlier runs have passed.  Let me dive in a bit deeper on the PR request.

[2018-03-06 21:01] darend opened #50 "Missing logs when using systemd source"
## what

We have fluentd-kubernetes-sumologic to our nodes and are providing an additional source to pull in from a custom systemd unit. We have found that some of the logs from the service show up in Sumologic, but not all. Ive included the config below. How can we go about troubleshooting where  the logs are being dropped off?

## environment

fluentd-kubernetes-sumologic release: v1.6
Kubernete

[2018-03-08 20:34] Chili-Man commented on #49
thanks @frankreno , I'd appreciate the help. I'm grasping at straws here trying to figure it out.

[2018-03-12 21:19] darend opened #52 "Inconsistent descriptions for FlushInterval default"
## Isssue

The README says the default **FlushInterval** is 30s, however [values.yaml](https://github.com/kubernetes/charts/blob/d968810a3a30bfd22930ff229272c9a9146e4fe1/stable/sumologic-fluentd/values.yaml#L35) lists the default as 5s

## Expected

Identify correct default and make the documentation consistent

[2018-03-13 16:25] frankreno commented on #52
@darend, yes the Helm chart has a different default value that this repo.  The docker image is set to 30s.  The YAML files in this repo do not set the defaults.  Honestly this was an oversight, a bug was discovered where the docs said 5s in this repo, but the Dockerfile was set to 30 seconds.  However, for backwards compatability, we have not pushed a new release that changes that.  More waiting u

[2018-03-15 20:19] frankreno commented on #46
I am going to close this issue due to inactivity from above comments related to tweaking current settings.  We have seen the adjustment of these settings have a large impact on performance.  The default values may need tweaks.  If anyone disagrees, please feel free to re-open.

[2018-03-15 20:19] #46 closed

[2018-03-20 17:00] darend commented on #50
### Update

We traced the issue to fluentd running out of memory and constantly restarting. This was not immediately apparent as the pod was not exiting, but if you look in the logs you would see an event like:

[code]

In the host logs you would see an event like:
[code]

With help from @frankreno  we traced the issue to the flush interval being defaulted to `30s` when installing via the chart. T

[2018-03-20 17:00] #50 closed

[2018-03-28 20:32] frankreno commented on #52
fixed with v1.8

[2018-03-28 20:32] #52 closed

[2018-03-28 23:12] frankreno commented on #49
@Chili-Man - I see your multiple re-tests finally passed! Going to close out this issue, thanks for the contribution!

[2018-03-28 23:12] #49 closed

[2018-04-01 18:51] emptywee opened #54 "emit transaction failed: error_class=NoMethodError error="undefined method `[]' for nil:NilClass""
With the latest upgrade to v1.8 from v1.6 we began to receive the following errors:

[code]

Any clues what that might be?

Thank you.

[2018-04-04 20:15] frankreno commented on #54
@emptywee : can you provide the following?

1) What version of k8s?
2) Have you modified the environment variables in the Daemonset or are you running with the defaults?
3) Is it consistent or intermittent? Is it all pods or just some?

[2018-04-04 20:33] emptywee commented on #54
@frankreno absolutely.
1. Verified on Kubernetes 1.9.6
2. I did, but not between v1.6 and v1.8, still let me provide them:
[code]
3. It is consistent and feels like it's thrown on every log file. I posted only an excerpt from the fluentd logs to show the stacktrace, but it happens to logs from other pods as well. But seeing only "suppressed same stacktrace" for them.

I can temporarily upgrade aga

[2018-04-06 20:36] bfreezy opened #55 "RBAC daemon set missing namespace resource on ClusterRole config"
The ClusterRole config at daemonset/rbac/fluentd.yaml currently has pods as the only resource.

This causes containers to fail on startup saying they cannot list namespaces at the cluster scope:

`2018-04-06 19:12:37 +0000 [info]: reading config file path="/fluentd/etc/fluent.file.conf"
2018-04-06 19:12:38 +0000 [error]: config error file="/fluentd/etc/fluent.file.conf" error_class=Fluent::ConfigE

[2018-04-09 19:15] frankreno commented on #55
@bfreezy PR is always welcome, otherwise I will try to get get a fix this week.

[2018-04-09 23:03] frankreno commented on #54
@emptywee I am still looking into this, will let you know what I find out ASAP.  Good news is I can reproduce so I can now start to debug and figure out the issue.

[2018-04-11 20:52] frankreno commented on #55
fixed by #56

[2018-04-11 20:52] #55 closed

[2018-04-13 03:01] frankreno commented on #54
just wanted to provide some updates, the stack trace is not stemming from this plugin but is stemming from one of the plugins we package with it.

https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter/blob/master/lib/fluent/plugin/filter_kubernetes_metadata.rb

Line 297, based on the error I suspect es is nil.  I still need to determine why this is happening, the issue seems to be

[2018-04-13 14:17] emptywee commented on #54
Thanks for the update. I used to add something similar to my configs (@timeout label) in v1.6 and it worked fine.

[2018-04-13 14:52] frankreno commented on #54
Ok so these logs are only happening when the concat plugin kicks in.  In my environment, I am running with mostly all default values. The default multiline pattern for the concat plugin is Julian dates.  I have one pod who's logging matches that pattern.  Everytime there is a multiline event in that pod, there is this stack trace:

<img width="942" alt="screen shot 2018-04-13 at 8 46 42 am" src="h

[2018-04-13 14:58] emptywee commented on #54
I'll check if logs aren't being lost. It's kinda tricky, since we have a really busy cluster and I need to find a way to make sure I am seeing what you are seeing :)

[2018-04-13 14:59] frankreno commented on #54
totally get it, i am going to try a few things in parallel and let you know what happens.

[2018-04-16 23:08] frankreno commented on #54
I think I have a fix, it is working locally, but want to let it run overnight to ensure all is good.  The fix will not be to this repo, but to the repo we depend on so timeline will depend on when they can merge.  if all continues to work as expected, I will submit a PR to that library.  We will leave this open for tracking until it is accepted and we can upgrade that library.

[2018-04-17 01:08] emptywee commented on #54
So it's really a fix? Not just a suppression of the error message?

[2018-04-17 01:13] frankreno commented on #54
I traced the issue.  When these stack traces appear, the event stream is actually empty in the k8s metadata filter plugin, which is downstream of the concat plugin.  I think it is a symptom of the concat plugin merging messages together.  Every time I get this stack trace that you are seeing, the stream is empty (I let it run with some debug logging for 24hours and confirmed every time it happened

[2018-04-19 18:53] frankreno commented on #54
update - fix was merged with the other repo.  Waiting on new gem to be published with fix. Then I will update the version we use and push a new image.  Hang tight, almost there.

[2018-04-19 22:37] #54 closed

[2018-04-19 22:52] frankreno commented on #54
@emptywee - ive pushed v1.11 which addressed the issue in my testing.  Before I push latest tag, wanna give her a go?

[2018-04-20 01:40] emptywee commented on #54
Absolutely. I will do it now and post results!

[2018-04-20 01:56] emptywee commented on #54
@frankreno everything looks solid. No issues has been observed so far. I think we can close this one. If anything comes up in the near future, I'll open a new one or we'll re-open this one if it has anything to do with it.

[2018-04-20 01:57] emptywee commented on #54
Thank you for fixing this 👍

[2018-04-20 02:10] frankreno commented on #54
Great, glad to hear and happy to help!

[2018-04-30 19:48] darend opened #60 "Support `deployment` as a variable for sourceName and sourceCategory"
## what

Support `deployment` as a variable for sourceName and sourceCategory

## why

The following variables are already supported: %{namespace}, %{pod}, %{container}. There are uses for being able to refer to the deployment in the sourceName or category.

[2018-05-02 16:10] darend opened #61 "kubernetes_sumologic plugin always adds a timestamp field to json logs"
## what

kubernetes_sumologic plugin always adds a timestamp field to json logs. This can lead to invalid json when the application output already includes a `timestamp` field.

See https://github.com/SumoLogic/fluentd-output-sumologic/blob/034168eaa280d79424fa0d90ee6668f10ec218fe/lib/fluent/plugin/out_sumologic.rb#L206-L214

## reproduce

Application outputs a log message like:

[code]

The inges

[2018-05-07 13:03] tasdikrahman opened #62 "daemonset: fluentd filtering: adding multiple `EXCLUDE_POD_REGEX`"
Greetings,

Related to https://github.com/SumoLogic/fluentd-kubernetes-sumologic/issues/12,

Thanks for adding the feature @frankreno, I was trying to ignore multiple pods logs to be dropped before being shipped to sumologic and was trying to use `EXCLUDE_POD_REGEX`

Was trying out the approach of

[code]

to which `error: error converting YAML to JSON: yaml: line 53: did not find expected key`

a

[2018-05-07 20:02] darend commented on #61
This was fixed in the plugin: https://github.com/SumoLogic/fluentd-output-sumologic/pull/27

[2018-05-08 09:51] tasdikrahman commented on #12
Greetings @emptywee , @frankreno . I was wondering how would one try to have multiple pod regexes to be ignored by the env var `EXCLUDE_POD_REGEX`, the same approach has been described in https://github.com/SumoLogic/fluentd-kubernetes-sumologic/issues/62, how would you suggest going ahead with it? Thanks

[2018-05-08 13:51] frankreno commented on #61
This has been fixed in v1.14, ADD_TIMESTAMP environment variable defaults to `true` for backward compatibility.  PR for helm chart updates submitted and is just pending approval - https://github.com/kubernetes/charts/pull/5338

[2018-05-08 13:51] #61 closed

[2018-05-08 13:59] frankreno commented on #62
It needs to be a single REGEX expression that captures all the pods you want to exclude.  Have you tried something like this yet? `(calico-node|kube2iam)`

[2018-05-08 14:51] emptywee commented on #12
`(pod_name_1|pod_name_2|pod_name_3)` as a regex?

[2018-05-10 23:49] alexbklein91 opened #63 "Feature request: Allow the ability to data forward to S3 at the fluentD plugin level"
I want the ability to "T" (data forward) my data to sumo logic and another source like s3 at the fluentD plugin level. The use case here is if I want to filter certain data that I send to Sumo Logic, but I want a back up of all my data I need this ability.

[2018-05-21 14:46] andrews32 opened #64 "FEATURE REQUEST: Add variable for INCLUDE_PATH"
Similar to EXCLUDE_PATH, would like the reverse ability to set the INCLUDE_PATH.

Problem is the in_tail plugin can only read one log at a time. When there are multiple logs on the same host, we need to run multiple copies of the fluentd-kubernetes-sumologic container. Each one is dedicated to a certain log. Be nice to just pass a parameter to specify each log.

I believe it currently is set as "p

[2018-05-23 16:07] rajmechi opened #65 "fluentd proxy support"
fluentd sumologic plugin support proxy but fluentd-kubernetes-sumologic daemonset does not support the proxy. please add support for proxy variable.

"The install guide ( https://github.com/SumoLogic/fluentd-kubernetes-sumologic ) does not mention supporting proxy settings but the Sumologic plugin (  https://github.com/SumoLogic/fluentd-output-sumologic ) for kubernetes does"

[2018-05-23 18:45] huddlesj commented on #65
Following

[2018-05-24 23:54] frankreno commented on #65
fixed in v1.5/latest.  See environment variables in readme for configuration.

[2018-05-24 23:54] #65 closed

[2018-05-24 23:55] frankreno commented on #64
added in v1.5/latest.  See environment variables in readme for configuration.

[2018-05-24 23:55] #64 closed

[2018-06-03 02:52] ajleslie opened #66 "Logs not being flushed to SumoLogic"
Hi,

Hope that you might be able to help me - bit stuck on this one.  I've got a daemonset installed on my Kubernetes cluster to log container logs to SumoLogic, but I'm seeing some really odd behaviour with with logs getting flushed into Sumo.  We have the following setup:

* We have a HTTP collector set up in Sumologic.
* A (non-rbac) fluentd DaemonSet installed on Kubernetes cluster. The main d

[2018-06-05 22:29] #66 closed

[2018-06-05 22:30] ajleslie commented on #66
Hi,

I've located what I think is the root cause of the issue - seems like it's a problem due to the inclusion of the NewRelic agent in JBoss, so I'll close this until further notice!

Thanks,

Alan.

[2018-06-12 06:04] keir-rex opened #67 "Missing configuration for scheduled (success"
I'm a little
[code]

[2018-06-12 06:40] keir-rex opened #68 "Missing collector for scheduled (success|failure) events"
I'd like some help to understand whether or not I've missed something when following the [README](https://github.com/SumoLogic/fluentd-kubernetes-sumologic/blob/master/README.md) and the guides on [help.sumologic.com ... kubernetes](https://help.sumologic.com/Send-Data/Applications-and-Other-Data-Sources/Kubernetes).

I seem to have most dashboards working with the exception of scheduler related p

[2018-06-13 00:55] keir-rex commented on #67
Not sure what happened here - closing this in favour of #68

[2018-06-13 00:55] #67 closed

[2018-06-18 22:47] frankreno commented on #68
@keir-rex can you provide the following information?

1) What version of k8s?
2) Where is it running?
3) Managed Service (GKE/EKS) or you manage the cluster (kops/kubeadm)
4) Can you share your YAML

These logs did exist at some point, very possible they have been tweaked in a new release or things have changed in the underlying logging of the scheduler so this will help me figure out what is goin

[2018-06-25 04:01] keir-rex commented on #68
@frankreno
1. v1.9.6 (`kubectl version` output below):
2. AWS
3. kops
4. Provided below

# sumologic-k8s-api
I rebuilt your image to also hit `/v1/api/events` you can see the [diff here](https://github.com/frankreno/sumologic-k8s-api/pull/3/files):
[code]
[code]
# fluentd-kubernetes-sumologic
is basically vanilla
[code]

# kubectl version:
[code]

[2018-06-25 19:45] frankreno commented on #68
@keir-rex thanks for the info.  So this appears to be a change in 1.9.x.  I have a 1.8 cluster and a 1.9 cluster and the schedule is not producing the same logs.  Will try to track down to the source and work on remediation for this.

[2018-06-27 00:49] keir-rex commented on #68
Cheers @frankreno let me know if there's anything I can help with

[2018-06-29 20:41] frankreno commented on #68
@keir-rex still no response from the folks on the scheduling team for k8s.  So I do not have a good answer as to why this changed and how to remedy yet.  I found the code where the log used to be generated and see no changes to account for this, so just means the change is not coming from the scheduler, but somewhere else.  Will keep you updated.  Long term, we are working on a new metrics collect

[2018-07-04 07:41] keir-rex commented on #68
Sounds good @frankreno. I'll knock up something which does de-duping of events since we need that anyway which should plug these gaps.

Could you comment on my second query on my initial post?

Cheers

[2018-07-12 10:00] tasdikrahman opened #69 "json log being double encoded"
Greetings,

We noticed that the logs being ingested by the following source config, which I have added in a new file `fluentd-kubernetes-sumologic/conf.d/file/source.trace.conf` as seen here in our fork https://github.com/razorpay/fluentd-kubernetes-sumologic/blob/740c29ada9778e9107a124ae4a1e2548dd2f8da7/conf.d/file/source.trace.conf out of which we have built a custom container image being refere

[2018-07-12 15:06] frankreno commented on #69
@ tasdikrahman : thanks for the issue. In the daemonset.yaml, can you please try setting the LOG_FORMAT to `json_merge` to see if the behavior persists?

[2018-07-12 17:49] frankreno commented on #69
@tasdikrahman - I have pushed v1.17 which in my testing fixed the issue.  Please rebuild your images from this base image and give it a test now.  If everything works in your end, I will update `latest` to point here as well...

[2018-07-13 03:15] ace03uec commented on #69
Hey @frankreno , We tested logging with 1.17 and are able to get logs for a staging environment in the
right format! Thanks.
Meanwhile we also notice that the var `FLUENTD_USER_CONFIG_DIR` is not being referenced apart from passing a default in the Dockerfile.

[2018-07-13 03:59] frankreno commented on #69
Great I will promote this to latest. This is expected. FLUENTD_USER_CONFIG_DIR Is for the Helm chart. You can add custom fluentD conf via the Helm chart dynamically instead of building your own Docker file. https://github.com/kubernetes/charts/tree/master/stable/sumologic-fluentd

[2018-07-13 04:01] #69 closed

[2018-07-13 06:44] greenkiwi opened #70 "`pos-files` appears to map to empty directory"
It appears that the the positional files are mapped to an empty directory even though there is a volume mounted for them.  This would suggest that every time the fluend pod gets recreated it would start from the beginning of available logs.  We had this happen and it uploaded 300gb of duplicated logs as fast as fluent could send them.

Mapping
[code]
https://github.com/SumoLogic/fluentd-kubernetes

[2018-07-13 15:50] ankitgoelcmu commented on #68
@keir-rex that's right. I see [218, 42, 205, 363 and 374] as code, 'event' as a resource, and 'go' as resource_action. Although, I have to revisit these to make sure these are proper naming conventions

[2018-07-14 15:21] frankreno commented on #70
@greenkiwi thanks for the issue.  The only reason we did not add this in the past was it `hostPath` was only available in 1.8 so wanted to keep things backward compatible.  However, now that k8s on 1.11 and `hostPath` has been around for some time, I think its time to address this once and for all to remove that pain point you had.  I will get this added to the yaml and update the readme according

[2018-07-14 15:23] frankreno commented on #70
Also side note, if you use the Helm chart to deploy, there is an option for persistence https://github.com/kubernetes/charts/tree/master/stable/sumologic-fluentd.

[2018-07-18 15:46] frankreno commented on #70
This is now fixed in the YAML, readme updated with instructions for running plugin on Kubernetes <1.8. https://github.com/SumoLogic/fluentd-kubernetes-sumologic/commit/65efc181c17685e327be409ec7701d08587073d4

[2018-07-18 15:46] #70 closed

[2018-07-18 15:48] frankreno commented on #47
@mfornasa: now that Kubernetes 1.8 has been around for a bit, I have switched to using hostPath persistence for the pos files, which will ensure on restart, fluentD picks up from where it left off.  See #70.

[2018-07-18 15:48] #47 closed

[2018-07-24 04:47] greenkiwi commented on #70
@frankreno Thanks.  We'll be updating.  Much appreciated.

[2018-07-26 21:19] andrews32 commented on #64
Thanks, CONTAINER_LOGS_PATH is working great!

[2018-08-01 00:03] voxxit commented on #63
@alexbklein91 Can you try out my fork in #71, and ensure it works for your use case?

[2018-08-09 21:07] andrews32 opened #72 "READ_FROM_HEAD=false Doesn't Read Header of New Logs"
Even with **READ_FROM_HEAD=false**, shouldn't fluentd still read all lines (even the header) of logs created after the start of fluentd? For example, fluentd is fully up and running. Well afterwards, a new application container is started, which creates a new log:

1. Starting container...
2. Initializing X...
3. Initializing Y...
4. Initializing Z...
...
33.  Container started in 30 seconds...
34

[2018-08-10 17:47] frankreno commented on #72
@andrews32 no not necessarily.  READ_FROM_HEAD has to be set to true to ensure we always read from the top of the log file.  If it is false, per the FluentD docs it will read from the bottom of the file.
https://docs.fluentd.org/v0.12/articles/in_tail#read_from_head

[2018-08-10 17:48] #72 closed

[2018-08-10 17:50] #63 closed

[2018-08-15 18:49] zanthorn opened #73 "Add support for GKE node pools with GPUs attached"
I have an app/container that uses a GPU for machine learning processes running on kubernetes in GCP. One cool feature about GPU node pools in GKE is that pods will only be placed on the node pool if the pod is requesting GPU resources. This is good in most scenarios, but in the case of this Sumo plugin, it means logs from pods on the GPU node pool never gets collected since the Sumo pod won't ever

[2018-08-15 19:54] frankreno commented on #73
@zanthorn you should be able to do this by simply adding a toleration to support the Taint GKE uses on the GPU nodes.  Can you try adding this to the tolerations in the YAML and see if they get scheduled?

          - operator: "Exists"
          - effect: "NoSchedule"
            key: "nvidia.com/gpu"

[2018-08-15 20:29] zanthorn commented on #73
That did it, thanks for the fast response!

[2018-08-15 20:29] #73 closed

[2018-09-05 05:01] nhoughto commented on #46
We gave up on this, looks like fluentd isn't a great fit for doing this without taking a huge amount of memory, we wrote this instead:

https://github.com/bsycorp/log-forwarder

Does basically the same job as this project, but is written in golang and is way more efficient.

[2018-09-09 22:51] rajmechi opened #77 "instructions for running on openshift are confusing"
hey @frankreno
in docker hub (https://hub.docker.com/r/sumologic/fluentd-kubernetes-sumologic/ ) mentioned below for openshift
oc adm policy add-scc-to-user privileged system:serviceaccount:logging:sumologic-fluentd
oc adm policy add-cluster-role-to-user cluster-reader system:serviceaccount:logging:sumologic-fluentd
**service account is sumologic-fluentd and project is logging

but in actual fluen

[2018-09-09 22:59] rajmechi commented on #77
in docker hub (https://hub.docker.com/r/sumologic/fluentd-kubernetes-sumologic/ ) mentioned below  for openshift
oc adm policy add-scc-to-user privileged system:serviceaccount:logging:sumologic-fluentd
oc adm policy add-cluster-role-to-user cluster-reader system:serviceaccount:logging:sumologic-fluentd
**service account is sumologic-fluentd and project is logging

but in actual fluentd.yml, servic

[2018-09-13 17:27] diversario commented on #48
We're on k8s 1.8.4 and sumo plugin 1.17 but kubelet logs appear as `Http Input`.

[2018-09-20 23:03] bendrucker opened #78 "Pod name retains random segments from Deployments"
We noticed that `%{pod}` is meant to be the "friendly" name of an app, stripping out the randomized parts added by different controllers. A pod created by a `Deployment` on Kubernetes@1.11 is named like this:

[code]

The plugin assumes the pod name has 2 random parts when the second to last part is a numeric string (`is_number?(pod_parts[-2])`). However, this has not been the case for several rec

[2018-09-21 17:31] salilgupta1 opened #79 "Duplicate K8s API Logs"
We have an issue where we are collecting api logs twice. This is because our K8s API servers are deployed a containers on the control plane. Therefore, fluentd collects the container logs from `/var/log/containers` and because of this source https://github.com/SumoLogic/fluentd-kubernetes-sumologic/blob/master/conf.d/file/source.kubernetes.conf#L74 fluentd collects the api server logs from a log f

[2018-09-21 18:00] salilgupta1 opened #80 "Disable Watch on Kubernetes Metadata Filter Plugin"
The https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter has a watch functionality that watches for all pods in the system and caches the metadata of all pods. However, we've seen in our testing with our other fluentd collector that this OOM kills the fluentd container since the cache quickly fills up. This is pretty easy to run into especially with large clusters like ours (700+

[2018-09-23 18:59] dorongutman opened #81 "Exclude by default instead of Include (whitelist instead of blacklist)"
Can you add a configuration that will exclude everything that doesn't have an annotation that specifically declare that resource as needs sumologic handling ?
So basically, instead of sending logs from ALL resource excluding specific resources that have an appropriate annotation, don't send logs at all, except for specific resources which I include using an annotation.

[2018-09-24 15:27] amiraBN opened #82 "exclude/include issue"
Hi,

Using the kubectl install for fluentD plugin I was trying to exclude all namesapces excepting one pod .

I had to add the following line into the fluentd.yaml file under the env section in order to exclude every namespaces
"name": "EXCLUDE_NAMESPACE_REGEX",
						"value": ".*"

and after that I added the annotation "sumologic.com/include": "true"  in the pod.yaml file in order to only get the

[2018-09-24 15:29] amiraBN commented on #82
to be more specific I was using a json format for fluentd file instead of yaml

[2018-09-26 13:04] amiraBN commented on #82
I tried also to be more specific in the regex expression with naming the namepsaces to exclude using that:
{
"name": "EXCLUDE_NAMESPACE_REGEX",
"value": "name_space1|name_space2|name_space3|"
}
I mentioned this exclusion in the fluentd.json and  sumologic-k8s-api-cronjob-rbac.yaml files undre env section
but still getting logs from excluded namespaces

[2018-10-03 20:05] rfein-hearst commented on #78
Just upgraded to 1.11 and also seeing this issue.

[2018-10-03 23:04] bendrucker commented on #78
Sergei and I worked together on https://github.com/SumoLogic/fluentd-kubernetes-sumologic/pull/83 🙂

Kubernetes defines `metadata.labels.pod-template-hash` for pods so I think it would be ok to strip that out directly.

[2018-10-04 14:04] frankreno commented on #77
@rajmechi thanks, I updated the readme to ensure the service account name matches.

[2018-10-04 14:04] #77 closed

[2018-10-04 14:10] frankreno commented on #79
@salilgupta1 thank you for the issue.  I agree 1 is not ideal, we need a better way to solve this to prevent the duplication.  Let me see what I can do here.

[2018-10-04 14:55] frankreno commented on #80
@salilgupta1 yes we can add this, as part of addressing #79, I will expose this setting and other settings that are not currently exposed to provide more control of the metadata filter plugin.

[2018-10-05 09:37] amiraBN commented on #82
@frankreno , this is the kubernetes version
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.9", GitCommit:"3fb1aafdafa3d33bc698930095db1e56c0f76452", GitTreeState:"clean", BuildDate:"2018-03-12T16:13:32Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

this is the fluentD json file

`
---
{
   "apiVersion": "v1",
   "kind": "ServiceAccount",
   "metadata": {

[2018-10-05 09:42] amiraBN commented on #82
@frankreno , this is the kubernetes version
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.9", GitCommit:"3fb1aafdafa3d33bc698930095db1e56c0f76452", GitTreeState:"clean", BuildDate:"2018-03-12T16:13:32Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
this is the fluentD json file
---
{
   "apiVersion": "v1",
   "kind": "ServiceAccount",
   "metadata": {
      "na

[2018-10-05 13:51] frankreno commented on #82
@amiraBN thanks for the additional information over email, looks like you have everything configured properly, and I am still unable to reproduce this.  I would like you to try a few more things and if these do not work, suggest we have a call:

[2018-10-05 14:27] #80 closed

[2018-10-05 14:28] frankreno commented on #35
fixed by https://github.com/SumoLogic/fluentd-kubernetes-sumologic/commit/b7fc18ba8f254d6404ce59280789e8ab92eca72a

[2018-10-05 14:28] #35 closed

[2018-10-05 14:44] frankreno commented on #80
@salilgupta1 `v1.2.0` and `latest` will contain these changes.

[2018-10-05 14:48] frankreno commented on #79
@salilgupta1 ok wanted to give you an update on this issue.  In order to prevent this duplication, and ensure the logs we capture have all the enriched metadata, I am going to remove the duplicated sources from the appropriate configs.  However, this constitutes a breaking change as 1) some folks may be using those log lines and 2) our current Kubernetes app uses these log lines and not the contai

[2018-10-05 15:35] amiraBN commented on #82
@frankreno  I resolved the issue for the fluentd plugin it seems that it was a  missconfiguration in the annotation.

[2018-10-05 15:47] frankreno commented on #82
great glad to hear!

[2018-10-05 15:47] #82 closed

[2018-10-09 23:48] purva1192 opened #85 "Does latest version comes with rewrite_tag_filer plugin"
I am new to this plugin and trying to work around a problem. I am using v1.2.0 to route some logs to AWS S3 bucket. I read up on that and thought of using the `rewrite_tag_filter`. However I get the error

[code]

Guess my question is does this plugin come with the `out_rewrite_tag_filter`?

[2018-10-09 23:52] frankreno commented on #85
it does not, only fluent-plugin-s3.  The example configuration on our README should not require the rewrite tag in its current state.  Can you share some more about your use case for `rewrite_tag_filter`?

[2018-10-09 23:57] purva1192 commented on #85
Well my use case is -
I wanted to tag logs matching a particular "message" and then use that tag to copy the logs to s3 bucket. Is there a better way to do this without using the `rewrite_tag_filter`.
As mentioned I am new to the plugin, so any insights are appreciated.

[2018-10-10 00:09] frankreno commented on #85
Ok, I see, so yeah to do store just a subset, you would need the rewrite tag filter.  I am planning a release for later this week to address #79 and I can add that plugin to the docker file then.  That use case is common enough I think it is good to add to make available to the Docker file.

[2018-10-10 00:11] purva1192 commented on #85
Awsome!! That sounds great!! That works for me..

[2018-10-12 06:41] viveksoundrapandi opened #86 "fluentd not posting log to collector"
I have a k8s cluster running with multiple services. I am trying to setup sumo logic to my cluster. I installed this helm chart and logs are streamed to the collector from all services except for one service.

I am able to tail the logs of the pod from shell. But the logs are not getting collected in the collector.
Digging into the logs of sumologic pod all I could see is the below log statment:

[2018-10-12 06:52] viveksoundrapandi commented on #86
K8s version: 1.10.6-gke.2
fluentd version: fluentd-gcp-v3.1.0
Changes to environment variables: NONE

[2018-10-12 21:59] frankreno commented on #86
@viveksoundrapandi: is this consistent or intermittent? How are you searching? The metadata for Kubernetes logs is built dynamically.  If you do a search for `_collector=<INSERT_COLLECTOR_NAME> | count by _sourceCategory` and put the name of the hosted collector you set up, do you see data coming in?

[2018-10-16 16:24] sega-yarkin opened #87 "undefined method `each' for nil:NilClass"
Hi, I have an error in logs with the latest version:
[code]

There is no `labels` field in `kubernetes` hash in my case.
Thank you!

[2018-10-19 16:15] frankreno commented on #86
@viveksoundrapandi any updates?

[2018-10-19 16:16] frankreno commented on #87
ahh thanks for the issue, I will look into this soon.

[2018-10-19 16:16] frankreno commented on #81
@dorongutman were you able to try to the above to achieve the desired behavior?

[2018-10-22 11:14] viveksoundrapandi commented on #86
@frankreno yes there was an issue in the collector. Thanks for the support. Closing the issue

[2018-10-22 11:14] #86 closed

[2018-10-24 21:22] dlaidlaw opened #88 "Use tag as source_name?"
Is it possible to use the value of the tag as the source_name in the filter. For example:

[code]
How would you write the expression to substitute the value of the tag into the source_name? The tag value in the filter would be something like my.mnt.log.my.install.log.

[2018-10-24 22:54] frankreno commented on #88
@dlaidlaw `${tag}` should be the proper syntax.

Please note that in your current setup you are trying to parse your custom log file thru the `fluentd-kubernetes-plugin`.  This plugin is specifically built just for Kubenetes logs.  If these logs are not originating from Kubernetes, then I would sugged you use our generic fluentD output plugin to deliver the logs straight to sumo. Link below.  The

[2018-10-25 12:30] dlaidlaw commented on #88
The ${tag} does not work as shown in my example, nor does it work when wrapped in quotes. But thanks for pointing out that I am using the wrong plugin for this. I works, though.

[2018-10-25 17:46] salilgupta1 commented on #79
@frankreno any updates on your end here? Could we release this fix and then you all can migrate your Kubernetes integrations onto the new version?

[2018-10-25 22:47] frankreno commented on #79
@salilgupta1 I apologize for the delay.  We will be pushing the changes out in the next couple of days.

[2018-10-26 20:22] andrews32 opened #89 "Max Log Length"
What is the max single log message length?

I have a developer who wrote out a log message that's over 40k characters (~40kb) and 98% of the string got forwarded to Sumo. But its missing the last few hundred characters.

[2018-10-26 20:56] frankreno commented on #89
@andrews32 this max log message size on the sumo side is 64kb.  After that sumo will split the message into multiple messages.  If you do a string search on the missing characters, can you find the split message? Is there any errors in the FluentD logs when this happens?

[2018-10-26 21:03] andrews32 commented on #89
No, I'm not seeing the rest of the message body. Oddly enough, Sumo says it's only 16.8kb, not even close to 64kb.

No errors in fluentd logs either related to the issue.

[2018-10-29 16:39] dorongutman commented on #81
@frankreno I installed the helm chart with `--set sumologic.excludePodRegex=".*"` and while pod logs are not showing in sumologic (which is good), I see the following in sumologic, about 4 times per minute:
[code]

For now, I don't want to see ANY logs in sumologic from kubernetes, except from the pods I specifically said I want to get the application logs from.

[2018-10-29 19:05] frankreno commented on #81
Ok good news is that I know what's happening and why those logs are showing up.  Will put in a fix soon for that after I fix some other issues. In the short term, you can exclude this by using a processing rule on the HTTP source. https://help.sumologic.com/Manage/Collection/Processing-Rules/Include-and-Exclude-Rules

[2018-10-30 12:57] NfNitLoop opened #90 "Memory Leak in fluentd v1.1.3. (Fixed in v1.1.5)"
We noticed that our SumoLogic fluentd pods were getting `SIGKILL`ed.

Looks like there's a known memory leak in fluentd v1.1.3 (which this Docker image uses):
https://github.com/fluent/fluentd/issues/1941

Should probably upgrade to 1.1.5 (or newer?).

[2018-10-30 13:21] frankreno commented on #90
@NfNitLoop thanks for the issue. I will be pushing a new release today or tomorrow hopefully with multiple fixes including upgrading the base FluentD image to 1.2.6.

[2018-10-30 18:29] dlaidlaw commented on #88
The ${tag} does not get substituted in this plugin. I have tried this multiple ways, with and without quotes, etc. Can someone verify that it should be supported?

[2018-10-30 18:39] frankreno commented on #88
@dlaidlaw : this plugin does not expose the tag that way, but is not intended to be used this way.  This is filter plugin, built to process/enrich Kubernetes logs specifically.  It is preconfigured to send the data to our other FluentD Output plugin which I referenced.  The output plugin does support this.  We have a test that confirm this in the output plugin repo.  Below is the configuration you

[2018-10-30 18:54] dlaidlaw commented on #88
OK, I am using this in a kubernetes cluster, and was following the examples in the
        fluentd-kubernetes-sumologic/conf.d/file/source.kubernetes.conf file. That file also tails logs on disk and "filters" them. I just wanted to add another directory of files to the list.

I will try again as you say with the other plugin.

[2018-10-30 19:04] dlaidlaw commented on #88
OK, I got it to work. It was a rookie mistake, and I am not a rookie :(  I was writing the helm chart values file using a bash script with a here document and forgot to escape the $.  Very embarrassing.

[2018-10-30 19:05] #88 closed

[2018-10-30 19:22] frankreno commented on #88
haha all good, glad you got it working!

[2018-10-31 01:14] frankreno commented on #90
v2.0.0 has been released with the upgraded image

[2018-10-31 01:14] #90 closed

[2018-10-31 01:14] frankreno commented on #87
This has been fixed in v2.0.0

[2018-10-31 01:14] #87 closed

[2018-10-31 01:14] frankreno commented on #85
This plugin is now part of the image in v2.0.0

[2018-10-31 01:14] #85 closed

[2018-10-31 01:15] frankreno commented on #81
This has been fixed in v2.0.0

[2018-10-31 01:15] #81 closed

[2018-10-31 01:15] frankreno commented on #79
This has been fixed in v2.0.0

[2018-10-31 01:15] #79 closed

[2018-11-01 14:44] NfNitLoop opened #93 "Feature request: Use file-based output buffers"
Background
------------

We noticed that some log messages were never delivered to SumoLogic. Those same log messages *did* end up in StackDriver, despite similar log collection setups.  (k8s -> fluentd daemonset -> log sink.)

The core issue was that our sumologic-fluentd pods had a [memory leak] which caused the pods to be `SIGKILL`ed by kubernetes when they exceeded their memory limits.

But, a

[2018-11-01 16:09] NfNitLoop commented on #90
Are there plans to also update https://github.com/helm/charts/blob/master/stable/sumologic-fluentd/values.yaml to use 2.0.0?

In the meantime, users will have to override the `image.tag` value to v2.0.0 to get the non-memory-leaky image, right?

[2018-11-01 16:11] frankreno commented on #90
Yup, Ill be getting a PR together to bring that up to date next week...

[2018-11-01 16:16] MasterSquishy commented on #86
@viveksoundrapandi We are experiencing this issue as well. Can you please describe the collector issue in greater detail, and the steps that you took to resolve it? Thank you!

[2018-11-02 20:27] dorongutman opened #94 "Update helm chart"
Version 2.0.0 was released a few days ago, however the helm chart (https://github.com/helm/charts/tree/master/stable/sumologic-fluentd) has version 1.16.

[2018-11-02 20:32] frankreno commented on #94
We will be submitting a PR next week to upgrade the chart.  In the meantime, you can pass `--set image.tag=v2.0.0` to install the updated image via help.

[2018-11-02 20:59] dorongutman commented on #94
@frankreno thanks, but can I do that as part of an upgrade of an already installed chart ?

[2018-11-02 21:10] frankreno commented on #94
you can indeed...i do that all the time w/o reinstalling.  `helm upgrade <chart> --set image.tag=v2.0.0 ...<other flags you want to set> stable/sumologic-fluentd>`.  If you want to force recreate the pods, you can add `--recreate-pods`

[2018-11-02 23:06] frankreno commented on #93
This is a good idea, we do default to memory.  Let me take a look at this over the coming weeks as I get some more bandwidth.

[2018-11-06 05:48] Chili-Man opened #95 "Collecting logs from SystemD JournalD logs"
Hey is there a way to have it collect the SystemD JournalD logs ? We're planning on running this daemsonset on Amazon Linux 2 EKS nodes and since its running systemd by default, it doesnt save the service logs to a file.

[2018-11-06 05:51] #95 closed

[2018-11-13 22:05] turbohoje opened #98 "kubernetes deployment cronjob logs are not collected"
output from cronjobs is not delivered.  cron jobs are creating output, and the sumo daemonset pod is detecting these files e.g.

```2018-11-13 21:22:54 +0000 [info]: #0 following tail of /mnt/log/containers/ssl-monitor-svc-1537959420-v9bq2_infra-test_ssl-monitor-script-42e671eb0de33a6016afef8e64fee234219b055af7fd0a716e6ccaa7f336574b.log```

however the content of these files is not sent to sumolog

[2018-11-16 07:41] viveksoundrapandi commented on #86
@MasterSquishy  I had my hosted collected URL wrong. Nothing to do with the helm chart

[2018-11-16 17:54] turbohoje commented on #98
issue was my problem.  using helm --upgrade wo a purge or a --recreate-pods

[2018-11-16 17:54] #98 closed

[2018-11-18 14:57] directeam opened #99 "Fluentd is not parsing json logs properly when sending to Sumologic"
Hey, I'm using the fluentd-kubernetes-sumologic plugin to send log data from my Kubernetes cluster to Sumologic. The Kubernetes logs are in Json format, however when they get to Sumologic they get sent line by line instead of in one json message. This ends up sending a very large number of logs which eventually exceeds my Sumologic quota and causes a 429 throttling error whenever I run the fluentd

[2018-12-03 15:15] nmohoric commented on #78
If anybody has a chance to take a look, #100 should address this issue.

[2018-12-10 17:09] syst0m opened #101 "Failed to list *v1.Node: nodes is forbidden: User \"system:serviceaccount:kube-system:heapster\" cannot list nodes at the cluster scope""
Followed this tutorial:
https://help.sumologic.com/07Sumo-Logic-Apps/01Amazon_and_AWS/Amazon_EKS/Collect_Logs_for_Amazon_EKS

heapster pod is failing with:
`"E1210 17:07:16.127337       1 reflector.go:190] k8s.io/heapster/metrics/processors/namespace_based_enricher.go:84: Failed to list *v1.Namespace: namespaces is forbidden: User \"system:serviceaccount:kube-system:heapster\" cannot list namespac

[2018-12-10 21:32] frankreno commented on #101
@syst0m : Look like the RBAC config.  Can you please apply this to the cluster as well and see if this resolves the issue?

https://github.com/kubernetes-retired/heapster/blob/master/deploy/kube-config/rbac/heapster-rbac.yaml

[2018-12-12 22:27] gregkroon opened #102 "Enhancement request to provide configuration for custom certificates and/or system cert store."
Ruby gem httpclient, which is used by Fluentd, has embedded its own trusted cert store, instead of using the system's. In the current Docker images, the file is located at /var/lib/gems/2.3.0/gems/httpclient-2.8.3/lib/httpclient/cacert.pem

request to provide configuration for custom certificates and/or system cert store as this is a common requirement amongst enterprise customers .

[2018-12-13 22:44] frankreno commented on #101
@syst0m did the above resolve the issue?

[2018-12-13 22:44] frankreno commented on #99
@directeam did you try the above suggestions?

[2018-12-14 18:13] syst0m commented on #101
@frankreno Sorry, priorities shifted on another part of the project.
I will have to sort out logging at a later stage.
Thanks for the help, it is much appreciated!

[2018-12-18 14:21] frankreno commented on #78
fixed in v2.1.0

[2018-12-18 14:21] #78 closed

[2018-12-19 01:49] bendrucker commented on #60
Hey there,

Sorry for the long delay in responding. This plugin relies on [fluent-plugin-kubernetes_metadata_filter](https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter) to append metadata. It figures out which pod a log line belongs to based on its container name. We can readily get any info associated with a pod.

It's not _impossible_ to go from a pod to a deployment but it mi

[2018-12-20 15:08] tjensen opened #104 "Logs suddenly stop being ingested into SumoLogic"
We have been having intermittent problems ingesting logs from our Kubernetes 1.9.7 cluster for a while, using fluentd-kubernetes-sumologic. We opened a support ticket with SumoLogic regarding this issue but they suggested that we open an issue on this GitHub project.

The issue is that, at some random point, we stop getting logs in SumoLogic from some individual nodes. If we delete the correspondi

[2019-01-07 16:30] asafpelegcodes opened #106 "No VERIFY_SSL environment variable on image"
I've been poking around the fluentd configuration code and I believe VERIFY_SSL should be an environment variable in the base image that is being referenced in out.sumo.conf.

https://github.com/SumoLogic/fluentd-kubernetes-sumologic/blob/master/conf.d/out.sumo.conf#L5

[code]

I created a PR preemptively to set the default https://github.com/SumoLogic/fluentd-kubernetes-sumologic/pull/105

[2019-01-07 18:56] frankreno commented on #106
@asafpelegcodes - merged the PR, thanks! I will get a new image out this week.

[2019-01-07 18:57] frankreno commented on #104
@tjensen - I spoke with our support team who I believe you were working with and I believe this now resolved but was a separate issue.  Can you please confirm?

[2019-01-07 18:57] frankreno commented on #94
most recent image is now the default in the helm chart.

[2019-01-07 18:57] #94 closed

[2019-01-07 19:09] asafpelegcodes commented on #106
Thanks @frankreno should I close this issue?

[2019-01-07 19:17] frankreno commented on #106
i will close once the new release is out...

[2019-01-09 14:47] tjensen commented on #104
@frankreno Yes, I think we can close this issue. Thank you.

[2019-01-09 14:47] #104 closed

[2019-01-09 18:41] frankreno commented on #101
@syst0m based on the error I am confident that is the issue, so I am going to close this out for the moment.  If you still have issues, feel free to reopen.

[2019-01-09 18:41] #101 closed

[2019-01-09 18:41] frankreno commented on #99
@directeam - I am going to close this issue as based on your set up and the symptoms described, the above suggestions will help you resolve this.  Feel free to reopen if you have any other issues.

[2019-01-09 18:41] #99 closed

[2019-01-09 18:43] frankreno commented on #89
@andrews32 - Sorry for the delay. If this is still an issue, please open up a Support Case with Sumo Logic Support and reference this issue.  That way I can help debug this further thru those channels.  I will leave this open for now.

[2019-01-14 12:08] chris-vest opened #107 "Log lines merged to single message"
In certain occasions the logs coming from our services are not correctly parsed. As a consequence, thousands of log lines are crammed together in one big message sent to Sumo Logic. Because the message is so large, it overflows Sumo Logic limit for an individual message and the content is split into multiple messages. As a result, it loses its JSON formatting and it becomes "invisible" for many qu

[2019-01-22 19:36] bin3377 commented on #107
Hi @chris-vest , Thanks for reporting this issue.
It sounds like the multiline detection creating this issue. What's the setting of `MULTILINE_START_REGEXP` and is there any sample log lines failed to be parsed?

[2019-01-22 21:03] bin3377 commented on #102
Since the connection part is handled by the output plugin, file a linked issue - https://github.com/SumoLogic/fluentd-output-sumologic/issues/38

[2019-01-25 23:27] #89 closed, assigned to nobody

[2019-01-30 15:50] chris-vest commented on #107
@bin3377

MULTILINE_START_REGEXP = /^\w{3} \d{1,2}, \d{4}/

Example log: https://pastebin.com/SPr2rxFZ

Just to clarify, this only seems to happen after we enable a new connector - this causes Connect to log a huge amount of lines very quickly, which seems to overload fluentd somehow - causing the massive, squashed log message to end up in SumoLogic. Restarting the fluentd pods then fixes this iss

[2019-02-01 22:02] breznik opened #111 "Documentation Question"
The `KUBERNETES_META` envariable is documented as:
"Include or exclude Kubernetes metadata such as namespace and pod_name if using JSON log format."

So, if the default is true, does that mean it is including metadata or excluding metadata?

[2019-02-02 00:07] bendrucker commented on #111
`KUBERNETES_META=true` means meta is included, while false means its excluded. Perhaps saying "Include Kubernetes metadata..." (no exclude) would be clearer?

[2019-02-02 00:37] breznik commented on #111
Sure, anything that reduces ambiguity would be nice. Or you can just tweak to "Include (true) or exclude (false) Kubernetes metadata such as namespace and pod_name if using JSON log format."

[2019-02-07 21:15] emptywee opened #112 "RuntimeError "can't add a new key into hash during iteration" (fixed in fluent-plugin-concat v2.2.3)"
After upgrading from fluentd-kubernetes-sumologic v2.0.0 to v2.3.0 we ran into the issue where it would stop sending logs to sumo and print errors similar to described in this issue: https://github.com/fluent-plugins-nursery/fluent-plugin-concat/issues/49

I rebuilt fluentd-kubernetes-sumologic image with the concat plugin v2.2.3 and so far haven't seen this error and logs are being sent properly

[2019-02-13 14:37] zonzamas opened #114 "Release as an independent GEM"
Do you plan to release this PR as an independent GEM? I would love to use it in a different fluentd image.

[2019-02-13 15:22] jeffwroblewski opened #115 "Sourcecategories in Sumo appending numbers"
For 2.1 and beyond, user is seeing an issue where sourecategories are populating like this:

app_prod/some_app_name
app_prod/some_app_name_62
app_prod/some_app_name 63...

Can provide more info offline as needed.

Thanks!
Jeff W.
TAM, Sumo

[2019-02-13 15:42] frankreno commented on #115
cc @bendrucker : ill look into this as soon as I can, but seems likely related to the fix for #78

[2019-02-13 19:41] bin3377 commented on #114
yes. this is in scope. but need to restructure the repo a little

[2019-02-13 19:52] bin3377 commented on #107
I think there are still something not very clear.
After connect the log to a "huge lines", how it looks like? each line is a valid json and with `\n` at end?
On the other side, we using fluentd memory buffer by default when streaming out records to Sumo backend. So there are [8MB size limitation](https://docs.fluentd.org/v0.12/articles/buffer-plugin-overview) of trunk. And Sumo HTTP endpoint has s

[2019-02-13 20:58] bendrucker commented on #115
What version of Kubernetes are you running?

[2019-02-13 21:28] bin3377 commented on #112
Fixed. will be included in next release cut

[2019-02-13 21:28] #112 closed

[2019-02-13 21:35] andrews32 commented on #115
We're running OpenShift v3.3 which includes Kubernetes v1.3.

[2019-02-13 21:35] bin3377 opened #117 "Feature request - Migrating .conf files into configMap"
The current implementation check-in fluentd .conf files into GitHub directly. Which means any change in the `.conf` file need to be built into docker image for taking effective. This change will using confgMap resource in kubernetes schema (.yml) so the final customer can tweak the settings without build docker image

[2019-02-13 21:37] bendrucker commented on #115
Gotcha, seems like there's probably no test coverage for that pod name format anymore. I can look into it in a few.

[2019-02-13 22:05] andrews32 commented on #115
We are in the middle of upgrading to OpenShift v3.9 which includes Kubernetes v1.9, but the symbolic links where I believe the code retries these names from is the same format as in K8S v1.3.

`[root@infra01-devtest-vxbyr ~]# ls -l /var/log/containers/
total 40
lrwxrwxrwx. 1 root root 165 Oct 26 01:47 docker-registry-2-mqe0f_default_POD-9171d6915e911a532fb6048191e9713ed36a14ccd1a9057624ece298f08b3

[2019-02-13 22:13] bendrucker commented on #115
So the actual pod name is `docker-registry-2-mqe0f` if I'm reading right? Would be a huge help if you could get an entire pod (`kubectl get pod <name> -o yaml` for confirmation.

[2019-02-13 22:17] bendrucker commented on #115
I suspect the regression that's affecting you from #78 has to do with the pod template hash. Rather than hardcode error-prone patterns based on string formatting (i.e. strip this part if it's numbers), we switched to actually detecting the pod template hash and deterministically stripping the dynamic parts. I'm trying to get a 1.3 cluster up on minikube but in case that doesn't seem viable so a fu

[2019-02-14 09:51] avdhoot commented on #45
Still facing same issue. `FLUSH_INTERVAL=5s`

[2019-02-14 10:17] chris-vest commented on #107
So Kafka Connect is logging very frequently after a new Connector is configured, which ends up overloading fluentd. The resulting log in SumoLogic looks like this - https://pastebin.com/SPr2rxFZ

The initial logs from Kafka Connect are no different to the logs which it normally creates, the only difference is the _frequency_ of those logs.

[2019-02-14 19:27] andrews32 commented on #115
`[svc-vxby-ose@master01-devtest-vxbyr ~]$ oc get po docker-registry-3-9n3bx -o yaml
apiVersion: v1
kind: Pod
metadata:
  annotations:
    kubernetes.io/created-by: |
      {"kind":"SerializedReference","apiVersion":"v1","reference":{"kind":"ReplicationController","namespace":"default","name":"docker-registry-3","uid":"3bf3e47f-fad7-11e8-8df7-005056848c95","apiVersion":"v1","resourceVersion":"12050

[2019-02-14 19:42] bendrucker commented on #115
From what you posted, the deployment name is `docker-registry-3`. This repo was meant to remove random sections included from Deployments/ReplicaSets, not necessarily any numeric ID. Seems like it was a bug that it matched/deleted part of your deployment name from the `pod_name`. You could consider using the open shift labels directly for your source categories.

[2019-02-19 16:45] andrews32 commented on #115
I'm guessing deployment name wasn't always where the _sourceCategory got his values from. This is new behavior.

Also, as Frank mentiond above, #78 was only fixed/closed in December 2018 which matches the first reports of this new behavior.

What changed in #78 and why? How do we undo it without manually using an old version that will not be maintained?

[2019-02-19 18:40] bendrucker commented on #115
I don't see any reason to assume that

#78 was closed by #100. #78 identified bugs in the original naive implementation of replica pod sanitization. The original implementation would remove the second to last segment of the pod name if it were a number. This is unnecessarily naive.

This numeric value was the pod template hash which is included as a label on the pods. In later versions of k8s, tha

[2019-02-21 02:31] miguelortize opened #118 "Kubernetes_meta and Kubernetes_meta_reduce break when condition is met."
If KUBERNETES_META is set to false and KUBERNETES_META_REDUCE is set to true, the second condition will fail as the value will not exist anymore when the first if is matched.
https://github.com/SumoLogic/fluentd-kubernetes-sumologic/blob/6a0d2c078e3008d1383b954d5eba68bd0a69661b/lib/fluent/plugin/filter_kubernetes_sumologic.rb#L178

https://github.com/SumoLogic/fluentd-kubernetes-sumologic/blob/6a0

[2019-03-13 15:13] frankreno opened #120 "Add ability to control which metadata you want to include/exclude when reducing the metadata"
The current reduce methods are great, but it would great if we could say exactly what we want to include/exclude.  For example, the current implementation does not allow you to keep the labels.

[2019-03-13 17:09] tavisma opened #121 "Memory usage growing constantly"
We noticed crazy high memory usage on our fluentd-sumologic pods (it would eat memory until host OOM)
This is using v2.3.0

Our log volume is relatively small (couple gB a day)

Memory resource limits didn't seem to help
Adding the following ENV to the pod spec resolved the issue for us, thought it was worth reporting here for posterity

[code]

[2019-03-15 00:12] bin3377 commented on #114
addressing in https://github.com/SumoLogic/fluentd-kubernetes-sumologic/pull/122

[2019-03-15 00:12] #114 closed

[2019-03-18 20:17] salilgupta1 opened #123 "Duplicate Logs because of Redundant SourceCategories"
### Metadata:
#### K8s Version: 1.10.11
#### Environment: AWS
#### Fluentd Image Version: 2.0.0
#### Config
[code]

Problem: We are still seeing duplicated logs for control plane processes. #79 Addressed this issue and it did significantly reduce our ingestion but we are still seeing issues around what I think are duplicate source categories. Take this screenshot for example:

![Screen Shot 2019-0

[2019-04-05 13:19] zonzamas commented on #114
:muscle:

[2019-04-11 23:28] frankreno commented on #123
@salilgupta1 : what is the corresponding sourceName for these sourceCateogiries? You can do something like `_sourceCategory=kubernetes* | count by _sourceCategory, _sourceName`

[2019-04-18 02:03] asafpelegcodes opened #126 "emit transaction failed: error_class=NoMethodError error="undefined method `+'"
K8s Version (EKS) - 1.11
Using image - sumologic/fluentd-kubernetes-sumologic:v2.1.0
ENV variables changed...
sumologic.numThreads = 15
SOURCE_CATEGORY_PREFIX = ""
SOURCE_CATEGORY_REPLACE_DASH = "-"

I've got a super noisy app that's causing my fluentd daemon set to start spewing the following errors every few seconds..
[code]

[code]

[2019-04-18 18:23] bin3377 commented on #126
There is no sumologic related code in the stack trace. And it did refer to  https://github.com/tagomoris/fluent-plugin-forest
Are you using this plugin in the fluentd pipeline?

[2019-04-18 18:35] asafpelegcodes commented on #126
Yes we are using it because it's needed for our log backups in s3 while using a feature that allows us to embed the tag into the s3 path

see link below
https://github.com/fluent/fluent-plugin-s3#v012-style

[2019-04-18 18:47] #121 closed

[2019-04-18 20:46] asafpelegcodes commented on #126
@bin3377 does this mean I'm barking up the wrong tree?

**pun intended**

[2019-04-26 16:49] bin3377 commented on #126
you should probably open issue on https://github.com/tagomoris/fluent-plugin-forest
So far I don't think it's related to our plugin

[2019-04-26 17:08] #126 closed

[2019-05-14 07:58] chris-vest commented on #107
I am still seeing this issue, this is what I'm getting from the sumologic-fluentd pods:

```sumologic-fluentd-sumologic-fluentd-m8d54 sumologic-fluentd-sumologic-fluentd 2019-05-13 09:42:52 +0000 [warn]: #0 emit transaction failed: error_class=Fluent::Plugin::Buffer::BufferChunkOverflowError error="a 13726192bytes record is larger than buffer chunk limit size" location="/var/lib/gems/2.3.0/gems/fl

[2019-05-14 09:49] chris-vest commented on #107
@bin3377 I've upgraded to 2.3.0 to see if this is mitigated at all.

Looking at the buffer settings, I'm a little confused as to where to put them when configuring fluentd? I know I need to set the `chunk_limit_size`, but which file should that go in? `sumo.out.conf`?

[2019-05-15 05:47] wllmtrng opened #130 "fluentd daemonset unable to read log files under OCI OKE"
Under Oracle's OCI, the fluentd connector running under Kubernetes managed by OKE won't be able to access some logs under /var/logs because there are directories that are symbolic links to the node's /u01 directory.

[2019-05-23 23:16] adamcheney opened #131 "Sumologic sourceCategory not respecting sumologic.com/sourceCategory annotation"
Hi folks,

I'm probably being an idiot, but I cannot get the sourceCategory annotation to work. This is set at the pod level. I'm running this in an EKS cluster on AWS.

Everything is pretty standard, I think - I run the fluentd containers in a daemonset. My dockerfile installs both the Sumologic output plugin and this Sumologic kubernetes filter plugin:
`
    gem install fluent-plugin-sumologic_o

[2019-05-31 05:17] awcheney commented on #131
OK, I found the problem. The `source_category_prefix` defaults to 'kubernetes' in the ruby, so all my logs were going to 'kubernetes/<whatever_sourcecategory_I_set>' and my role didn't allow me to see them.

If you don't want to use a prefix, you can't set this to blank, even explicitly in the config file. So, I forked the repo and set it to an empty string. I suspect my use-case is unique enough

[2019-05-31 16:13] frankreno commented on #131
@awcheney great find.  As long as it does not break current behavior, we would welcome a PR.  Seems like a good add to me.

[2019-05-31 17:03] #130 closed

[2019-06-07 14:57] chris-vest commented on #107
@bin3377 I've tried adding this:

[code]

But I'm still seeing log lines merged into single, large log messages in Sumologic - once this happens, fluentd stops sending messages to Sumologic.

[2019-06-07 15:00] chris-vest commented on #107
I think one of your original comments was correct, in that when I cause the event in my cluster, and the application logs busily, the logs are no longer picked up by the regex. However, shouldn't setting the `chunk_limit_size` mitigate crashing fluentd?

[2019-06-19 23:52] wllmtrng opened #134 "RBAC fluentd daemonset unable to read log files under OCI OKE"
Same as https://github.com/SumoLogic/fluentd-kubernetes-sumologic/issues/130 but for RBAC

[2019-06-27 03:42] #131 closed

[2019-06-27 12:56] xrismck commented on #104
I'm curious what the cause and resolution were here.

[2019-07-02 16:07] andrews32 opened #135 "ls: cannot access '/fluentd/etc/fluent.file.conf': No such file or directory"
I last deployed a daemonset 12 days ago. Today, using the same YAML but containers are going into CrashLoopBackOff. This is the error in the container log:

`ls: cannot access '/fluentd/etc/fluent.file.conf': No such file or directory`
`Unknown source 'file'`

I think there has been a major change between v2.3.1 and v2.4.0. I noticed this file (https://github.com/SumoLogic/fluentd-kubernetes-sumol

[2019-07-02 21:20] prasadjjoshi commented on #135
I struggled with this issue and fluentd pods in my K8 cluster never came back from crashloopbackoff to running state.  I had to hardcode image v2.3.1 to get the pods into running state.
containers:
      - image: sumologic/fluentd-kubernetes-sumologic:v2.3.1

[2019-07-02 23:53] samjsong commented on #135
Thank you for bringing this issue to our attention. In version `v2.3.1`, the Fluentd conf files that specify the inputs and the various config options for the many Fluentd plugins was baked into the Docker image itself, meaning the only way to change these options was if we exposed these options as ENV variables, and the Daemonset was deployed with the desired ENV variables.

The reason for the ma

[2019-07-08 21:48] #135 closed

[2019-07-26 05:30] andrews32 commented on #115
I was looking for something else and came across this ticket and noticed it was still open. I think we can close this now. Thanks for explaining it @bendrucker.

[2019-07-26 16:44] derrickburns opened #139 "Allow ability to set annotations in the daemonSet in Helm Chart"
To use the [reloader](https://github.com/stakater/Reloader), I need to add an annotation to the daemon set.  For fully automated deployment, I need to do this via the helm chart.

Please add the ability to provide annotations on daemon sets.

[2019-07-29 14:34] andrews32 commented on #135
I see v2.4.2 was released 3 days ago, we're getting this same error again.

`ls: cannot access '/fluentd/etc/fluent.file.conf': No such file or directory`

[2019-07-29 16:55] samjsong commented on #135
Thank you again for bringing this to our attention. We sincerely apologize for the miss. The `latest` tag should again point to `v2.3.2`, and we'll be making the relevant changes to our automation process to ensure this does not happen again.

[2019-07-29 19:36] djsly opened #142 "Windows support"
With the new AKS Windows workload support, we would require to have access to an image TAG of fluentd-kubernetes-sumologic built on top of windows.

https://hub.docker.com/r/fluent/fluentd supports windows.

it should be straight forward hopefully.

[2019-08-14 20:57] tb2186 opened #143 "Worker 0 continuously restarts"
I'm installing on an Azure AKS cluster usiong the helm chart from https://github.com/helm/charts/tree/master/stable/sumologic-fluentd.  I see the pods start on each of the nodes but the worker 0 process in each of them restarts continuously.  Would anyone know how I can start to debug this?

2019-08-14 20:45:42 +0000 [info]: Worker 0 finished unexpectedly with signal SIGKILL
2019-08-14 20:45:44 +0

[2019-08-14 23:54] tb2186 commented on #143
It turns out that the process wasn't given enough memory.  I added "--set resources.limits.memory=512Mi" to the helm command when installing the helm chart and the worker 0 process seems to start successfully now.

[2019-08-14 23:54] #143 closed

[2019-09-03 02:50] stanhordiyenko opened #145 "Question: Can I reduce Kubernetes metadata but leave labels?"
Hi,

Is it possible to reduce Kubernetes metadata but leave `labels` untouched?

I would like to log less but still need `labels`.

Thank you.

[2019-09-04 03:08] frankreno commented on #145
At the moment no, but something we are looking at. You can reference the labels in the _sourceCategory using the environment variables to configure that but not as part of payload when reducing

[2019-09-10 08:31] Constantin07 commented on #139
@derrickburns looks like this is already supported https://github.com/helm/charts/blob/master/stable/sumologic-fluentd/values.yaml#L8

[2019-09-10 14:26] derrickburns commented on #139
No, to be clear, I am asking for the ability to set annotations on the daemonset resource itself.

[2019-09-10 21:49] Constantin07 commented on #139
@derrickburns Thanks for clarification. I've created a PR here to address your request https://github.com/helm/charts/pull/17055

[2019-10-28 15:39] rajmechi opened #146 "support for CRI-O logs"
getting **pattern not match** errors when i deployed into CRI-O running cluster.

#feature

[2019-10-31 19:10] huddlesj commented on #146
This is the solution for this I found on the Red Hat side -> https://github.com/cri-o/cri-o/issues/897#issuecomment-329865461

[2019-11-11 11:04] tribonacci opened #147 "Docker build failing for v2.4.2"
**ERROR:  Error installing fluent-plugin-kubernetes_metadata_filter:
	zeitwerk requires Ruby version >= 2.4.4.**
Successfully installed unf_ext-0.0.7.6
Successfully installed unf-0.1.4
Successfully installed domain_name-0.5.20190701
Successfully installed http-cookie-1.0.3
Successfully installed http-form_data-1.0.3
Successfully installed http-0.9.8
Successfully installed recursive-open-struct-1.0

[2019-11-11 12:31] tribonacci commented on #147
Was able to install using with these 2 changes in Dockerfile.

FROM fluent/fluentd:v1.7.0-debian-1.0 AS builder
USER root
.
.
.
.
.

[2019-11-26 05:12] danil-fomichev opened #149 "POD metadata is not extracted to sourceName"
Here is what we see in SumoLogic logs search for all applications:

[code]
is there something wrong with configuration file?

[code]

[2020-01-24 14:08] Constantin07 opened #150 "Memory consumption grows to max and never goes down"
It looks that the memory usage never goes down - no matter the amount of logs pushed to SumoLogic. Is that a architecture/design issue ?

Version: 2.4.2
Pod resources: RAM limit 512Mb

Attached some screenshots with trends. Any ideas how to make it not hog all RAM ?

Here I had to re-deploy the pod.
![image](https://user-images.githubusercontent.com/11664677/73075149-3192e500-3eb3-11ea-925e-9d263e

[2020-08-27 10:53] Adhira-Deogade commented on #150
My memory usage is in GBs with same situation.

[2020-11-13 18:27] djsly commented on #142
not needed with the new collection solution

[2020-11-13 18:27] #142 closed